<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>99781236894-12mkv1269qrcn6th2rrvml8s8qqbc08m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.99781236894-12mkv1269qrcn6th2rrvml8s8qqbc08m</string>
	<key>API_KEY</key>
	<string>AIzaSyAwNH-EQMy6HCtIr33qMaK8Cdrif5fe15o</string>
	<key>GCM_SENDER_ID</key>
	<string>99781236894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.skillHunter</string>
	<key>PROJECT_ID</key>
	<string>skill-hunter-46e3e</string>
	<key>STORAGE_BUCKET</key>
	<string>skill-hunter-46e3e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:99781236894:ios:1eb7c3ea7afb909135438f</string>
</dict>
</plist>